vjIncludeDescFile
  Name "fluid-vrjuggler.desc"
  end
Keyboard
  Name "Sim Input"
  width { "300" }
  height { "500" }
  origin { "1024" "1024" }
  msens { "1.0" }
  display_number { "-1" }
  lock_key { "KEY_L" }
  start_locked { "True" }
  sleep_time { "0" }
  end
KeyboardProxy
  Name "SimKeyboard Proxy"
  device { "Sim Input" }
  end
proxyAlias
  Name "VJHead"
  aliasName { "VJHead" }
  proxyPtr { "Head Proxy" }
  end
proxyAlias
  Name "VJKeyboard"
  aliasName { "VJKeyboard" }
  proxyPtr { "SimKeyboard Proxy" }
  end
proxyAlias
  Name "VJWand"
  aliasName { "VJWand" }
  proxyPtr { "Wand proxy" }
  end
SimPosition
  Name "SimHeadPos"
  keyboardProxy { "SimKeyboard Proxy" }
  keyPairs { 
      KeyModPair
        Name "Forward"
        modKey { "SHIFT" }
        key { "KEY_E" }
        end
 
      KeyModPair
        Name "Back"
        modKey { "SHIFT" }
        key { "KEY_X" }
        end
 
      KeyModPair
        Name "Left"
        modKey { "SHIFT" }
        key { "KEY_S" }
        end
 
      KeyModPair
        Name "Right"
        modKey { "SHIFT" }
        key { "KEY_D" }
        end
 
      KeyModPair
        Name "Up"
        modKey { "SHIFT" }
        key { "KEY_R" }
        end
 
      KeyModPair
        Name "Down"
        modKey { "SHIFT" }
        key { "KEY_C" }
        end
 
      KeyModPair
        Name "Rot Right"
        modKey { "SHIFT" }
        key { "KEY_N" }
        end
 
      KeyModPair
        Name "Rot Left"
        modKey { "SHIFT" }
        key { "KEY_B" }
        end
 
      KeyModPair
        Name "Rot Up"
        modKey { "SHIFT" }
        key { "KEY_I" }
        end
 
      KeyModPair
        Name "Rot Down"
        modKey { "SHIFT" }
        key { "KEY_K" }
        end
 
      KeyModPair
        Name "Rot CCW"
        modKey { "NONE" }
        key { "KEY_NONE" }
        end
 
      KeyModPair
        Name "Rot CW"
        modKey { "NONE" }
        key { "KEY_NONE" }
        end
 }
  initialPos { "0.0" "0.0" "0.0" }
  initialRot { "0.0" "0.0" "0.0" }
  dtrans { "0.2" }
  drot { "2.0" }
  transCoordSystem { "Local" }
  rotCoordSystem { "Local" }
  end
PosProxy
  Name "Head Proxy"
  device { "MotionStar1" }
  unit { "2" }
  etrans { "True" }
  translate { "-0.15" "0.0" "0.328" }
  rotate { "0.0" "-90.0" "0.0" }
  useFilter { "False" }
  sigmoidParams { 
      sigmoid_linear_pos_filter
        Name "sigmoidParams 0"
        minDist { "0.0" }
        maxDist { "0.0" }
        maxThreshold { "0.0" }
        end
 }
  end
PosProxy
  Name "SimCamera Proxy"
  device { "SimHeadPos" }
  unit { "0" }
  etrans { "True" }
  translate { "0.0" "0.0" "0.0" }
  rotate { "0.0" "0.0" "0.0" }
  useFilter { "False" }
  sigmoidParams { 
      sigmoid_linear_pos_filter
        Name "sigmoidParams 0"
        minDist { "0.0" }
        maxDist { "0.0" }
        maxThreshold { "0.0" }
        end
 }
  end
PosProxy
  Name "Wand proxy"
  device { "MotionStar1" }
  unit { "5" }
  etrans { "True" }
  translate { "0.0" "0.0" "0.0" }
  rotate { "0.0" "0.0" "0.0" }
  useFilter { "False" }
  sigmoidParams { 
      sigmoid_linear_pos_filter
        Name "sigmoidParams 0"
        minDist { "0.0" }
        maxDist { "0.0" }
        maxThreshold { "0.0" }
        end
 }
  end
FileConnect
  Name "EM File Output"
  FileName { "/usr/people/mma/out.perf" }
  Enabled { "False" }
  Mode { "Output" }
  end
PerfMeasure
  Name "Performance Measurements"
  TimingTests { 
      PerfTestActive
        Name "Timing Tests 0"
        Prefix { "Kernel" }
        Enabled { "False" }
        end
 
      PerfTestActive
        Name "Timing Tests 1"
        Prefix { "vjGlPipe" }
        Enabled { "False" }
        end
 }
  end
surfaceDisplay
  Name "FrontScreen"
  origin { "3" "56" }
  size { "979" "1024" }
  pipe { "0" }
  view { "stereo" }
  border { "False" }
  corners { 
      Vec3
        Name "lower left"
        x { "-4.575" }
        y { "0.0" }
        z { "-4.575" }
        end
 
      Vec3
        Name "lower right"
        x { "4.575" }
        y { "0.0" }
        z { "-4.575" }
        end
 
      Vec3
        Name "upper right"
        x { "4.575" }
        y { "9.183" }
        z { "-4.575" }
        end
 
      Vec3
        Name "upper left"
        x { "-4.253" }
        y { "9.183" }
        z { "-4.575" }
        end
 }
  user { "User" }
  active { "True" }
  tracked { "False" }
  trackerproxy { "" }
  end
surfaceDisplay
  Name "FloorScreen"
  origin { "1024" "56" }
  size { "982" "1024" }
  pipe { "0" }
  view { "stereo" }
  border { "False" }
  corners { 
      Vec3
        Name "lower left"
        x { "-4.575" }
        y { "0.0" }
        z { "4.8" }
        end
 
      Vec3
        Name "lower right"
        x { "4.575" }
        y { "0.0" }
        z { "4.8" }
        end
 
      Vec3
        Name "upper right"
        x { "4.575" }
        y { "0.0" }
        z { "-4.575" }
        end
 
      Vec3
        Name "upper left"
        x { "-4.575" }
        y { "0.0" }
        z { "-4.575" }
        end
 }
  user { "User" }
  active { "True" }
  tracked { "False" }
  trackerproxy { "" }
  end
surfaceDisplay
  Name "LeftScreen"
  origin { "1024" "56" }
  size { "1017" "1024" }
  pipe { "1" }
  view { "stereo" }
  border { "False" }
  corners { 
      Vec3
        Name "lower left"
        x { "-4.575" }
        y { "0.0" }
        z { "4.739" }
        end
 
      Vec3
        Name "lower right"
        x { "-4.575" }
        y { "0.0" }
        z { "-4.575" }
        end
 
      Vec3
        Name "upper right"
        x { "-4.575" }
        y { "9.183" }
        z { "-4.575" }
        end
 
      Vec3
        Name "upper left"
        x { "-4.575" }
        y { "9.183" }
        z { "4.739" }
        end
 }
  user { "User" }
  active { "True" }
  tracked { "False" }
  trackerproxy { "" }
  end
surfaceDisplay
  Name "RightScreen"
  origin { "3" "56" }
  size { "1020" "1024" }
  pipe { "1" }
  view { "stereo" }
  border { "False" }
  corners { 
      Vec3
        Name "lower left"
        x { "4.575" }
        y { "0.0" }
        z { "-4.575" }
        end
 
      Vec3
        Name "lower right"
        x { "4.575" }
        y { "0.0" }
        z { "4.739" }
        end
 
      Vec3
        Name "upper right"
        x { "4.575" }
        y { "9.183" }
        z { "4.739" }
        end
 
      Vec3
        Name "upper left"
        x { "4.575" }
        y { "9.183" }
        z { "-4.575" }
        end
 }
  user { "User" }
  active { "True" }
  tracked { "False" }
  trackerproxy { "" }
  end
displaySystem
  Name "Pipe Setup"
  numpipes { "2" }
  xpipes { ":0.0" ":1.0" ":0.0" ":0.0" ":0.0" ":0.0" ":0.0" ":0.0" }
  end
JugglerUser
  Name "User"
  headPos { "VJHead" }
  interocular_distance { "0.16" }
  end
EnvironmentManager
  Name "Environment Manager"
  Port { "4450" }
  AcceptConnections { "True" }
  PerformanceTarget { "EM File Output" }
  end
simDisplay
  Name "Simulator Display1"
  origin { "0" "500" }
  size { "500" "500" }
  pipe { "0" }
  view { "left_eye" }
  border { "True" }
  cameraPos { "SimCamera Proxy" }
  user { "User" }
  wandPos { "" }
  active { "False" }
  drawProjections { "False" }
  surfaceColor { "1.0" "0.0" "0.0" }
  vert_fov { "0.0" }
  aspect_ratio { "0.0" }
  end
FluidVrjTracker
  Name  "MotionStar1"
  sourcename { "tracker" }
/*  hemisphere { "Lower" } */
/*  translate { "-0.4" "7.4" "0.4" }  */
  end
End
